@model Widely.Models.tbl_User

@{
	ViewData["Title"] = "Login";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Your ATM</title>
	<!-- Custom fonts for this template-->
	<link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">
	<!-- Custom styles for this template-->
	<link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->

		<!-- End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<a class="sidebar-brand d-flex align-items-center justify-content-center ">
						<div class="sidebar-brand-icon rotate-n-15">
							<i class="fas fa-laugh-wink"></i>
						</div>
						<div class="sidebar-brand-text mx-3">Your ATM</div>
					</a>
				</nav>
				<!-- Begin Page Content -->
				<div class="container-fluid col-4">
					<!-- Content Row -->
					<div class="row">
						<div class="container body-content">
							<!-- Pills navs -->
							<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="tab-login" data-mdb-toggle="pill" role="tab"
									   href="~/Account/Login" aria-selected="false">Login</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="tab-register" data-mdb-toggle="pill" role="tab"
									   href="~/Account/Register" aria-selected="true">Register</a>
								</li>
							</ul>
							<!-- Pills navs -->
							<!-- Pills content -->
							<div class="tab-content">
								<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
									<form asp-action="Register">
										<div class="text-center mb-3">
											<p>Sign up with:</p>
											<button type="button" class="btn btn-link btn-floating mx-1">
												<i class="fab fa-facebook-f"></i>
											</button>

											<button type="button" class="btn btn-link btn-floating mx-1">
												<i class="fab fa-google"></i>
											</button>

											<button type="button" class="btn btn-link btn-floating mx-1">
												<i class="fab fa-twitter"></i>
											</button>

											<button type="button" class="btn btn-link btn-floating mx-1">
												<i class="fab fa-github"></i>
											</button>
										</div>

										<p class="text-center">or:</p>
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="form-group">
											<label asp-for="FirstName" class="control-label"></label>
											<input asp-for="FirstName" class="form-control" />
											<span asp-validation-for="FirstName" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="LastName" class="control-label"></label>
											<input asp-for="LastName" class="form-control" />
											<span asp-validation-for="LastName" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Email" class="control-label"></label>
											<input asp-for="Email" class="form-control" id="e_mail" />
											<span asp-validation-for="Email" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Phone" class="control-label"></label>
											<input asp-for="Phone" class="form-control" />
											<span asp-validation-for="Phone" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="DOB" class="control-label"></label>
											<input asp-for="DOB" class="form-control" />
											<span asp-validation-for="DOB" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="LoginPassword" class="control-label"></label>
											<input asp-for="LoginPassword" class="form-control" />
											<span asp-validation-for="LoginPassword" class="text-danger"></span>
										</div>

										<!-- Checkbox -->
										@*<div class="form-check d-flex justify-content-center mb-4">
										<input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
										aria-describedby="registerCheckHelpText" />
										<label class="form-check-label" for="registerCheck">
										I have read and agree to the terms
										</label>
										</div>*@

										<!-- Submit button -->
										<div class="form-group">
                                            <input type="submit" value="Register" class="btn btn-primary btn-block mb-3" />
                                        </div>
										<!-- Register buttons -->
										<div class="text-center">
											<p>Already a member? <a href="~/Account/Login">Login</a></p>
										</div>
									</form>
								</div>
								<div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
								</div>
							</div>
							<!-- Pills content -->
							<footer>
								<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
							</footer>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Designed By: Muhammad Asad Qaisar</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>

	<!-- End of Page Wrapper -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="~/Theme/vendor/jquery/jquery.min.js"></script>
	<script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="~/Theme/js/sb-admin-2.min.js"></script>
	<!-- Page level plugins -->
	<script src="~/Theme/vendor/chart.js/Chart.min.js"></script>
	<!-- Page level custom scripts -->
	<script src="~/Theme/js/demo/chart-area-demo.js"></script>
	<script src="~/Theme/js/demo/chart-pie-demo.js"></script>
</body>
</html>